<!DOCTYPE html>
<html class="fm-facilmap-table">
	<head>
		<meta charset="utf-8">
		<title><%=normalizePageTitle(normalizeMapName(mapData.name), appName)%></title>
		<base href="../" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
<%
	if(!mapData || mapData.searchEngines) {
-%>
		<meta name="robots" content="index,nofollow" />
		<meta name="description" content="<%=normalizePageDescription(mapData.description)%>" />
<%
	} else {
-%>
		<meta name="robots" content="noindex,nofollow" />
<%
	}
-%>
		<link rel="icon" href=".<%=paths.base%>static/favicon.svg">
		<link rel="mask-icon" href=".<%=paths.base%>favicon.svg" color="#00272a">
		<link rel="apple-touch-icon" href=".<%=paths.base%>static/app-180.png">
		<link rel="manifest" href=".<%=paths.base%>static/manifest.json">
		<link rel="alternate" type="application/json+oembed" href=".<%=paths.base%>oembed?url=<%=encodeURIComponent(url)%>&amp;format=json" title="<%=normalizePageTitle(normalizeMapName(mapData.name), appName)%>" />
		<link rel="iframely resizable" href="<%=url%>">

		<style type="text/css">
<% for (const path of styles) { -%>
			@import url(".<%=paths.base%><%=path%>");
<% } -%>
<% if (hasCustomCssFile) { -%>
			@import url(".<%=paths.base%>custom.css");
<% } -%>
		</style>
<% for (const path of scripts) { -%>
		<script type="module" src=".<%=paths.base%><%=path%>"></script>
<% } -%>
<% for (const path of preloadScripts) { -%>
		<link rel="modulepreload" href=".<%=paths.base%><%=path%>"/>
<% } -%>
	</head>
	<body>
		<div class="container-fluid">
			<h1><%=normalizePageTitle(normalizeMapName(mapData.name), appName)%></h1>
<%
	for (const type of types) {
-%>
<%-renderSingleTable(type.id, {
	before: (
		`\t\t\t<h2 role="button" data-bs-toggle="collapse" data-bs-target="#type-${quoteHtml(type.id)}" aria-expanded="true" aria-controls="type-${quoteHtml(type.id)}"><svg class="d-print-none" viewbox="0 0 11 15" height="15"><path d="M10.195 7.5l-7.5 7.5L0 12.305 4.805 7.5 0 2.695 2.695 0z"/></svg> ${quoteHtml(formatTypeName(type.name))}</h2>\n` +
		`\t\t\t<div id="type-${quoteHtml(type.id)}" class="collapse show">\n`
	),
	after: (
		`\n` +
		`\t\t\t</div>\n`
	),
	leaveEmpty: true,
	indent: "\t\t\t\t",
	tableAttrs: { "class": "table table-striped table-bordered table-condensed tablesorter", "data-sortlist": "[[0,0]]" },
	getThAttrs: (fieldName, isFirst) => (fieldName === "Position" && isFirst ? { "data-sorter": "false" } : { })
})-%>
<%
	}
-%>
		</div>
	</body>
</html>